DB_TYPE= # postgres or sqlite
DB_USER=   # username@server-name
DB_PASSWORD= # admin password
DB_URI= # if on azure, will be server-name.postgres.database.azure.com
DB_NAME=test # or tournament for the real one
AZ_STORAGE_ACCOUNT_NAME=  #name of Azure storage account
AZ_STORAGE_ACCOUNT_KEY= # access key for Azure storage account
AZ_CONFIG_CONTAINER= # container on Azure storage account for config files
AZ_VIDEO_CONTAINER= # container on Azure storage account for video files
AZ_LOGFILE_CONTAINER= # container on Azure storage account for logfiles