<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Welcome to Plark Tournament!</title>
</head>
<body>
  <div>
    <h2>Tournaments</h2>
    <table>
      <tr>
	<td>
	  <h3>Friday 5th March  </h3>
	</td>
	<td><a href=tournament/55> 10x10</a></td>
	<td><a href=tournament/56> 25x25</a></td>
      </tr>
      <tr>
	<td>
	  <h3>Monday 8th March  </h3>
	</td>
	<td><a href=tournament/72> 26x33</a></td>
      </tr>
      <tr>
	<td>
	  <h3>Tuesday 9th March  </h3>
	</td>
	<td><a href=tournament/76> 10x10</a></td>
	<td><a href=tournament/77> 28x26</a></td>
      </tr>
      <tr>
	<td>
	  <h3>Wednesday 10th March  </h3>
	</td>
	<td><a href=tournament/81> 10x10</a></td>
	<td><a href=tournament/80> 28x28</a></td>
      </tr>
    </table>
